<form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Selected Opportunities</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
        <i class="material-icons">clear</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div layout="row" layout-padding ng-hide="ctrl.filteredOpportunities.length">
      <h3>You haven't selected any opportunities</h3>
    </div>
    <md-list ng-show="ctrl.filteredOpportunities.length">
      <md-list-item ng-repeat="opportunity in (ctrl.filteredOpportunities = (ctrl.opportunityService.opportunities | filter:{ selected: true})) track by opportunity.id">
       <p>{{opportunity.domain}}</p>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="ctrl.closeDialog()">
      Close
    </md-button>
  </md-dialog-actions>
</form>
